
extends layout

block content
  include author

  h2 Instructors

  div.row
    div.one-half.column
      h3 Prof. Gene Yeo
    div.one-half.column
      h3 Jamison McCorrison
    div.one-half.column
      h3 Olga Botvinnik

  h2
    a(href='http://nbviewer.ipython.org/github/biom262/biom262-2016/tree/master/weeks/') Github Lecture

  h2 Syllabus

  div.row
    div.one-half.column
      h3 Tuesday, January 5th
      h4 Gene Yeo, Jamison McCorrison, Olga Botvinnik
      p.
        TSCC setup, UNIX introduction

    div.one-half.column
      h3 Thursday, January 7th
      h4 Gene Yeo, Jamison McCorrison, Olga Botvinnik
      p.
        Python introduction, Jupyter notebook setup
  div.row
