
extends layout

block content
  :marked
    ## Contact us

    Lead Instructor [Dr. Gene Yeo](mailto:geneyeo@ucsd.edu "Gene Yeo")<br>
    Teaching Assistant [Olga Botvinnik](mailto:obotvinn@ucsd.edu)<br>
    Teaching Assistant [Jamison McCorrison](mailto:jmccorri@eng.ucsd.edu)<br>
    All other lecturer contact info provided below.<br>

    ## Course Description
    Quantitative Methods in Genetics and Genomics is designed to teach experimental and analytical approaches in modern genetics and genomics, from experimental design through data analysis in each of several topic areas. Lecturers this year include Gene Yeo, Scott Rifkin, Bruce Hamilton, Rob Knight, Olivier Harismendy, Nicholas Schork, Aaron Chang and Hannah Carter.

    *This course is a requirement for students in the UCSD Genetics Training Program. 4 units.*

    ## Syllabus
    [![Build Status](https://travis-ci.org/biom262/biom262-2016.svg?branch=master)](https://travis-ci.org/biom262/biom262-2016) [![Join the chat at https://gitter.im/biom262/biom262-2016](https://badges.gitter.im/biom262/biom262-2016.svg)](https://gitter.im/biom262/biom262-2016?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)


  .syllabus
    :marked
      | Module Num. | Tues | Thurs | Lecturer | Topic |  |  |  |
      | ----------- | ---- | ----- | -------- | ----- | --------- | ---------- | ---------- |
      | **1** | 1/5/16 | 1/7/16 | **Shashank Sathe, [Gene Yeo](http://yeolab.ucsd.edu/yeolab/Home.html)** ([contact](mailto:geneyeo@ucsd.edu)) | TSCC Setup, UNIX, Git/Github, and Python introduction | [Lecture](http://nbviewer.ipython.org/github/biom262/biom262-2016/blob/master/weeks/week01/Module1.ipynb) | Homework | Solution |
      | **2** | 1/12/16 | 1/14/16 | **[Scott Rifkin](http://labs.biology.ucsd.edu/rifkin/)** ([contact](mailto:sarifkin@ucsd.edu))  | Statistic; logic of testing hypotheses; estimation | Lecture | Homework | Solution |
      | **3** | 1/19/16 | 1/21/16 | **[Bruce Hamilton](http://cmm.ucsd.edu/Lab_Pages/hamilton/bah/)** ([contact](mailto:bah@ucsd.edu)) | Low throughput methodology, qRT PCR | Lecture | Homework | Solution |
      | **4** | 1/26/16 | 1/28/16 | **Olga Botvinnik, Eric Van Nostrand** ([contact](mailto:elvannostrand@ucsd.edu))**,Gene Yeo** | NGS Technology, RNA-seq tools and analyses, IGV | Lecture | Homework | Solution |
      | **5** | 2/2/16 | 2/4/16 | **[Rob Knight](https://knightlab.ucsd.edu/)** ([contact](mailto:rknight@ucsd.edu)) | Microbiome | Lecture | Homework | Solution |
      | **6** | 2/9/16 | 2/11/16 | **[Olivier Harismendy](http://moores.ucsd.edu/oncogx/)** ([contact](mailto:oharismendy@ucsd.edu@ucsd.edu)) | NGS sequencing. Analysis file standards. SNPs and SNVs in cancer. Querying public databases. Variant annotation, filtering and statistical associations. | Lecture | Homework | Solution |
      | **7** | 2/16/16 | 2/18/16 | **Aaron Chang** ([contact](mailto:anchang@ucsd.edu@ucsd.edu)) | Translating genomic findings into clinically relevant results. Cloud  computing resources. N of 1 case study. Visualization and interpretation in the context of precision medicine. | Lecture | Homework | Solution |
      | **8** | 2/23/16 | 2/25/16 | **[Nicholas Schork](http://www.scripps.edu/schork/Schork_Lab_Members.html)** ([contact](mailto:nschork@ucsd.edu)) | Modern Applied Population Genetics. Applied Population Genetic. Admixture Mapping. | Lecture | Homework | Solution |
      | **9** | 3/1/16 | 3/3/16 | **[Hannah Carter](http://med.ucsd.edu/divisions/med-genetics/research/Pages/carter-lab.aspx)** ([contact](mailto:hkcarter@ucsd.edu@ucsd.edu)) | Genome-wide associations studies. | Lecture | Homework | Solution |
      | **10** | 3/8/16 | 3/10/16 | **Hannah Carter** | Prioritizing genetic variation. Inherited variation. Somatic variation. | Lecture | Homework | Solution |

  :marked
    ## Class Location

    All lectures throughout the quarter will be held in the [Sanford Consortium for Regenerative Medicine (SCRM)](https://www.google.com/maps/place/Sanford+Consortium+for+Regenerative+Medicine/@32.8895137,-117.2462225,17z/data=!4m6!1m3!3m2!1s0x80dc06934d4eabd9:0x97741ae2ff2bd85a!2sSanford+Consortium+for+Regenerative+Medicine!3m1!1s0x80dc06934d4eabd9:0x97741ae2ff2bd85a) building.
    * **For the first week of the quarter (1/5 and 1/7)**, the class will be held in the second floor auditorium. This is the large auditorium besides the Bella Vista Cafe on the second floor.
    * **For the remainder of the quarter**, all lectures will be held in the first floor conference room (#1013).
    * All rooms have been reserved from 8:45 am to 12:15 pm.
    * *Class will start promptly at 9:00 am.*


    ## Final

    **Take home exam due Monday March 14, 2016**
