
extends layout

block content
  :marked
    ## Contact us

    Lead Instructor [Dr. Gene Yeo](mailto:geneyeo@ucsd.edu "Gene Yeo")<br>
    Teaching Assistant [Olga Botvinnik](mailto:obotvinn@ucsd.edu)<br>
    Teaching Assistant [Jamison McCorrison](mailto:jmccorri@eng.ucsd.edu)<br>
    All other lecturer contact info provided below.<br>

    ## Course Description
    Quantitative Methods in Genetics and Genomics is designed to teach experimental and analytical approaches in modern genetics and genomics, from experimental design through data analysis in each of several topic areas. Lecturers this year include Gene Yeo, Scott Rifkin, Bruce Hamilton, Rob Knight, Olivier Harismendy, Nicholas Schork, Aaron Chang and Hannah Carter.

    *This course is a requirement for students in the UCSD Genetics Training Program. 4 units.*

    ## Syllabus
    [![Join the chat at https://gitter.im/biom262/biom262-2016](https://badges.gitter.im/biom262/biom262-2016.svg)](https://gitter.im/biom262/biom262-2016?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)


  .syllabus
    :marked
      | Module Num. | Tues | Thurs | Lecturer | Topic |  |  |  |
      | ----------- | ---- | ----- | -------- | ----- | --------- | ---------- | ---------- |
      | **1** | 1/5/16 | 1/7/16 | **[Olga Botvinnik](http://olgabotvinnik.com), [Gene Yeo](http://yeolab.ucsd.edu/yeolab/Home.html)** ([contact](mailto:geneyeo@ucsd.edu)) | TSCC Setup, UNIX, Git/Github, and Python introduction | [Lecture](http://nbviewer.ipython.org/github/biom262/biom262-2016/blob/master/weeks/week01/) | [Homework](http://nbviewer.ipython.org/github/biom262/biom262-2016/blob/master/weeks/week01/homework.ipynb) | [Solution](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week01/7_tf_binding_promoters_solution.ipynb) |
      | **2** | 1/12/16 | 1/14/16 | **[Scott Rifkin](http://labs.biology.ucsd.edu/rifkin/)** ([contact](mailto:sarifkin@ucsd.edu))  | Statistic; logic of testing hypotheses; estimation | [Lecture](http://nbviewer.jupyter.org/github/biom262/biom262-2016/tree/master/weeks/week02/)<br>[conda install R fix](https://github.com/biom262/biom262-2016/blob/master/weeks/week02/conda_install_fix.md) | [Homework](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week02/homework2.ipynb) | Solution |
      | **3** | 1/19/16 | 1/21/16 | **[Bruce Hamilton](http://cmm.ucsd.edu/Lab_Pages/hamilton/bah/)** ([contact](mailto:bah@ucsd.edu)) | Low throughput methodology, qRT PCR | [Lecture](https://github.com/biom262/biom262-2016/blob/master/weeks/week03/BIOM262_GeneExpression_2016.ppt?raw=true) | [Homework](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week03/homework.ipynb) | Solution |
      | **4** | 1/26/16 | 1/28/16 | **Olga Botvinnik, Gene Yeo** | NGS Technology, RNA-seq tools and analyses, IGV | [Lecture](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week04/index.ipynb) [Powerpoint Lecture](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week04/BIOM262-RNA%20processing.pptx?raw=true) | [Homework](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week04/homework.ipynb) | [Solution](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week04/2_compare_alignment_vs_quasialignment_solution.ipynb) |
      | **5** | 2/2/16 | 2/4/16 | **[Rob Knight](https://knightlab.ucsd.edu/)** ([contact](mailto:rknight@ucsd.edu)) | Microbiome | Lecture [evolution.py](https://github.com/biom262/biom262-2016/blob/master/weeks/week05/evolution.py) [Additional Materials](https://github.com/biom262/biom262-2016/blob/master/weeks/week05/) | Homework | Solution |
      | **6** | 2/9/16 | 2/11/16 | **[Olivier Harismendy](http://moores.ucsd.edu/oncogx/)** ([contact](mailto:oharismendy@ucsd.edu@ucsd.edu)) | NGS sequencing. Analysis file standards. SNPs and SNVs in cancer. Querying public databases. Variant annotation, filtering and statistical associations. | Lectures: [NGS Tools](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week06/NGSTools_BIOM262.pptx), [Practice - Day 1](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week06/Practise_Day1.pptx) [Practice - Day 2](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week06/Practise_Day2.pptx) | Homework | Solution |
      | **7** | 2/16/16 | 2/18/16 | Gene Yeo, Olga Botvinnik, [Jamison McCorrison](mailto:jmccorri@ucsd.edu) | Review of class materials. | Lecture | Homework | Solution |
      | **8** | 2/23/16 | 2/25/16 | **[Nicholas Schork](http://www.scripps.edu/schork/Schork_Lab_Members.html)** ([contact](mailto:nschork@ucsd.edu)) | Modern Applied Population Genetics. Applied Population Genetic. Admixture Mapping. | [Lecture 1](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week08/BIOM262_2016_Contemporary_Quantitative_Biomedical_Population_Genetics.pptx) [Exercise 1 : Python/PLINK](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week08/Week%2008%20-%20Lecture%201.1%20%28Python%20and%20Bash%29%20-%20Prof.%20Libiger.ipynb) [Exercise 1 : R/Plots](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week08/Week%2008%20-%20Lecture%201.2%20%28R%29%20-%20Prof.%20Libiger.ipynb) | Homework | Solution |
      | **9** | 3/1/16 | 3/3/16 | **[Hannah Carter](http://med.ucsd.edu/divisions/med-genetics/research/Pages/carter-lab.aspx)** ([contact](mailto:hkcarter@ucsd.edu@ucsd.edu)) | Genome-wide associations studies. | Lectures: [Module 1](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week09/Module%201%20Exercise%201%20-%20Population%20Divergence.ipynb), [Module 2](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week09/Module%201%20Exercise%202%20-%20Case-Control%20Association%20Analysis.ipynb), [Module 3](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week09/Module%201%20Exercise%203%20-%20Quantitative%20association%20analysis.ipynb), [Data](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week09) | Homework | Solution |
      | **10** | 3/8/16 | 3/10/16 | **Hannah Carter** | Prioritizing genetic variation. Inherited variation. Somatic variation. | Lecture | Homework | Solution |

  :marked
    ## Tips and tricks

    - [FAQ from homework 1](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week01/homework.ipynb#FAQ-+-Tips-and-Tricks) (ssh, logging in to TSCC< starting up a notebook, file navigation)
    - [Git essentials](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/git_essentials.ipynb)
    - [Fixing unreadable notebook error](http://nbviewer.jupyter.org/github/biom262/biom262-2016/blob/master/weeks/week04/fixing_unreadable_notebook_error_merge_conflicts.ipynb)
    - [Nano keyboard shortcuts](http://staffwww.fullcoll.edu/sedwards/Nano/NanoKeyboardCommands.html)

    ## Class Location

    All lectures throughout the quarter will be held in the [Sanford Consortium for Regenerative Medicine (SCRM)](https://www.google.com/maps/place/Sanford+Consortium+for+Regenerative+Medicine/@32.8895137,-117.2462225,17z/data=!4m6!1m3!3m2!1s0x80dc06934d4eabd9:0x97741ae2ff2bd85a!2sSanford+Consortium+for+Regenerative+Medicine!3m1!1s0x80dc06934d4eabd9:0x97741ae2ff2bd85a) building.
    * **For the first week of the quarter (1/5 and 1/7)**, the class will be held in the second floor auditorium. This is the large auditorium besides the Bella Vista Cafe on the second floor.
    * **For the remainder of the quarter**, all lectures will be held in the first floor conference room (#1013).
    * All rooms have been reserved from 8:45 am to 12:15 pm.
    * *Class will start promptly at 9:00 am.*


    ## Final

    **Take home exam due Monday March 14, 2016**
